<% include partials/header.ejs %>
<div class="container">
	<h2><%= title %></h2>
	<section class="container-live-games view-list-game">
	<% games.forEach(function(game) {%>
	   <div class="live-game">
	   		<p><%= game.start_time %></p>
			<p><%= game.team_1.name %> - <%= game.team_2.name %></p>
			<button class="btn-to-game" data-gameid="199777">Track score</button>
		</div>
	<% }); %>
	</section>
</div>
<% include partials/footer.ejs %>