<% include partials/header.ejs %>
	<h1>Ja hallo</h1>

	<section class="container-live-games">
		<div class="live-game">
			<p>Team 1 - Team 4</p>
			<a href="/track-score">Track score</a>
		</div>
	</section>

<% include partials/footer.ejs %>