<% include partials/header.ejs %>
<div class="container">
	<header>
		<div class="section-inner">
			<h1 class="main-heading"><%= title %></h1>
		</div>
	</header>
	<section>
		<div class="section-inner">
			<h2>Windmill</h2>
			<p>Small intro Windmill</p>
		</div>
	</section>
	<section>
		<div class="section-inner">
			<h2>Planning</h2>
			<p>Planning for Windmill</p>
		</div>
	</section>
	<section>
		<div class="section-inner">
			<h2>Rules</h2>
			<p>Rules for Windmill</p>			
		</div>
	</section>
</div>
<% include partials/footer.ejs %>