<% include partials/header.ejs %>
<div class="container">
	<header>
		<h1 class="main-heading"><%= title %></h1>
	</header>
	<section>
		<h2>Windmill</h2>
		<p>Small intro Windmill</p>
	</section>
	<section>
		<h2>Planning</h2>
		<p>Planning for Windmill</p>
	</section>
	<section>
		<h2>Rules</h2>
		<p>Rules for Windmill</p>
	</section>
</div>
<% include partials/footer.ejs %>