<% include partials/header.ejs %>
<header>
	<div class="section-inner">
		<h1 class="main-heading"><%= title %></h1>
		<p>The Windmill Tournament is a yearly Ultimate frisbee tournament held in Amsterdam, comprised of three divisions of play (open, women's and mixed). The three day event is loaded with Ultimate action and off the field antics, resulting in an unforgettable weekend of intense sport and constant fun.</p>
	</div>
</header>
<section>
	<div class="section-inner">
		<h2>Rules</h2>
		<ul>
			<li>Windmill does not provide any timekeepers. Both teams are responsible to keep the pull, time-outs and foul/violation resolving within a reasonable time limit.</li>
			<li>Teams are expected to arrive on time. Game can start as soon as each team has a minimum of 5 players (WFDF rule 5.1).</li>
			<li>If a team does not have 5 players at the start of the match the opposition will be awarded a goal and game start will be delayed by 5 minutes.</li>
			<li>If a team has not fielded a minimum of 5 players after 25 minutes after the start of the game they will forfeit the game and the opposition will be awarded a 5-0 win.</li>
			<li>In case any of the teams show up late, both team captains should agree on how many points should be awarded to the team before starting the match. The points awarded should be communicated to the scorekeeper.</li>
			<li>The Windmill organisation can suspend or cancel games in case of bad weather or other emergencies. In the case of a mid-game suspension, the game can continue if the game round has not ended. If the round has ended, or a game is cancelled the score at the moment of the suspension or cancellation stands, even if that results in a tie.</li>
			<li>In case one or more rounds are cancelled the Windmill organisation will reschedule or skip the round(s).</li>
			<li>Players must not use any form of electronic communication devices  to communicate with other players or team members during play</li>
			<li>Players must not wear anything that is dangerous to other players, or could damage the disc. Metal studs are considered dangerous.</li>
			<li>Players must not wear anything that gains an advantage by substantially enhancing  physical presence of the player.</li>
			<li>Players are prohibited from applying any substance to their hands, for the purposes of enhancing grip, which can transfer to the disc during the course of play</li>
			<li>Players, substitutes and team officials must not use any equipment that amplifies their voices</li>
		</ul>		
	</div>
</section>
<% include partials/footer.ejs %>