<% include partials/header.ejs %>
<div class="container">
	<section class="dark-section">
		<h1 class="main-heading"><%= title %></h1>
		<div class="dark-section-content container-form">
			<!-- <a href="<%= authUrl %>">Login with League Vine</a> -->
			<p class="register-message">Don't have an account yet? <a href="/register">Sign up</a></p>
			<form class="login-form" action="/login" method="POST">
				<fieldset>
					<label for="name">Name</label>
					<input type="text" id="name" name="name">
				</fieldset>
				<fieldset>
					<label for="password">Password</label>
					<input type="password" id="password" name="password">
				</fieldset>
				
				<button type="submit" class="button">Log In</button>
			</form>
		</div>
	</section>
</div>
<% include partials/footer.ejs %>