<% include partials/header.ejs %>
<div class="container">
	<section class="dark-section">
		<h1 class="main-heading"><%= title %></h1>
		<div class="dark-section-content container-form">
			<form class="login-form" action="/register" method="POST">
				<fieldset>
					<label for="name">Name</label>
					<input type="text" id="name" name="name" required>
				</fieldset>
				<fieldset>
					<label for="team">Team</label>
					<select id="team" name="team">
						<% teams.forEach(team => { %>
							<option value="<%= team.id %>"> <%= team.name %> </option>
						<% }); %>
					</select>
				</fieldset>
				<fieldset>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" required>
					<label for="password-confirm">Confirm Password</label>
					<input type="password" id="password-confirm" name="password-confirm" required>
				</fieldset>
				
				<button type="submit" class="button">Register</button>
			</form>
		</div>
	</section>
</div>
<% include partials/footer.ejs %>